:root{
    --primary:#1e3d7f;
    --secondary:#14B8A6;
    --accent:#F97316;
    --accent2:#7C3AED;
    --bg-color:#393489;
    --text-color:#ffffff;
    --highlight:#FACC15;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    min-height: 100vh;
    line-height:1.4;
}
header{
    z-index: 100;
    position: sticky;
    top: 0;
    height: 100px;
    padding: 10px 20px;
    background-color: var(--primary);
    border-bottom: 2px solid var(--text-color);
}
nav{
    display: flex;
    height: 100%;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* NavBar Logo */
    h1{
        font-size: clamp(27px,3vw,40px);
        text-decoration: underline rgb(0, 25, 153);
    }
    /* Nav Container */
    .nav-container{
    display: flex;
    gap: 20px; 
    max-width: 100%;
    /* Nav Items */
    .nav-item{
        margin: 5px 0px;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.899rem;
        color: var(--text-color);
        padding: 10px 40px;
        border-bottom: 1px solid black;
        border-radius: 20px;
        border-right: 1px solid black;
        }
    }
    .nav-item:hover{
            background-color: white;
            color:black;
            border-color: #000000;
            border-width: 3px;
        }
    /* Navbar talk Button */
    a>button{
        cursor: pointer;
        font-weight: 700;
        font-size: 0.899rem;
        background-color: var(--accent);
        border: 1px solid rgb(28, 25, 25);
        padding: 15px 30px;
        border-radius: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: end;
        
    }
    a>button:hover{
            background-color: white;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
        }
    .nav-toggle{
        display: none;
    }
    .hamburger {
        width: 50px;
        height: 50px;
        border: none;
        background: transparent;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 6px;
      }

      .hamburger span {
        width: 30px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
      }
}

main{
    flex:1;
    position: relative;
    max-width:1400px;
    margin: 0 auto;
    padding: 0rem 2rem;
    display: grid;
    gap: 20px;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    min-height: 100%;
    aside.sidebar{
        display: none;
        position: absolute;
        right:0;
        top: 0;  
        div{
            padding: 1rem 0.5rem;
            display: flex;
            flex-direction: column;
            gap:20px;
            position: absolute;
            top: 0;
            right: 0px;
            min-width: 125px;
            justify-content: flex-start;
            align-items: center;
            height: 390px;
            background-color: #62fee4;
            a{
                text-decoration: none;
                font-size: 16px;
                color: black;
                border-bottom: black 1px solid;
                width: 100%;
                text-align: center;
            }
            a:hover{
                background-color: #1e3d7f;
                color: #ffffff;
                border-radius: 20px;
            }
        }
    }
}
.intro{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    #greet{
        font-size: 1rem;
    }
    #name{
        color: var(--text-color);
        font-weight: 600;
        font-size: clamp(2rem,4vw,3.6rem);
    }
    #role{
        color: #62fee4;
        font-size: clamp(1rem,2vw,1.6rem);
        margin-bottom: 5px;
    }
    #desc{
        line-height: 1.2;
        font-size: clamp(1rem,2vw,1.5rem);
        max-width: 550px;
        min-height: auto;
        margin-bottom: 10px;
        color: #ffffff;
    }
    .intro-buttons{
        display: flex;
        margin-bottom: 10px;
        min-height: auto;
        gap:1.6rem;
        width: 100%;
        padding: 1rem 0;
        justify-content: flex-start;
        #hire{
            font-weight: 700;
            color: black;
            padding: 15px 24px;
            border: 0.199rem solid #ffffff;
            border-radius: 40px;
            background-color: var(--accent);
            cursor: pointer;
        }
        #projects{
            cursor: pointer;
            font-weight: 700;
            color: var(--text-color);
            padding: 15px 24px;
            border: 0.199rem solid var(--accent);
            border-radius: 40px;
            background-color: var(--bg-color);
        }

    }
    span{
        margin-bottom:10px;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
    .medias{
        display: flex;
        gap: 20px;
        margin-top: 20px;
        max-height: 50px;
        justify-content: flex-start;
        align-items:center;
        .nav-media>button{
            color: var(--text-color);
            border: none;
            border-bottom: 1px solid white;
            padding: 5px 10px;
            background-color: transparent;
            line-height: 1.5;
        }
        .nav-media>button:hover{
            border: 1px solid var(--secondary);
            border-radius: 10px 20px;
            background-color: var(--secondary);
        }
    }
}

aside{
    display: flex;
    width: 100%;
    height: 100%;
    div.side-quote{
        background-color: rgb(255, 213, 162);
        display: flex;
        flex-direction: column;
        gap: 40px;
        border-radius:30px 5px;
        padding: 10px 1.5rem;
        margin: auto;
        width: 300px;
        height: 400px; 
        align-items: center;
        justify-content: center;
        .quote-head{
            color: #F97316;
        }
        .quote{
            color: black;
            max-width: 200px;
        }
    }
}


@media (max-width:655px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 3rem 1rem;
        aside.sidebar{
            display: block;
        }
    }   
    header{
        nav {
            .nav-container {
                display: none;
                gap: 20px;
                max-width: 100%;
                
            }
            a{
                display: none;
            }
            .nav-toggle{
                display: block;
            }
        }
    }

}